<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="AACE4B69.Pithline.FMSServiceScheduling" Publisher="CN=280C52B9-43DE-43B0-AD89-373310221C44" Version="1.1.0.7" />
  <mp:PhoneIdentity PhoneProductId="97f6ffb7-21df-45d6-8ec8-f8a85204d3c1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Pithline.FMS Service Scheduling</DisplayName>
    <PublisherDisplayName>Mazik Global Inc.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Pithline.FMS.SS">
      <m3:VisualElements DisplayName="Service Scheduling" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Pithline.FMS.SS" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Pithline.FMS.WinRT.Components.BackgroundTasks.WindowsPhone.SSBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m3:Capability Name="appointments" />
    <m3:Capability Name="contacts" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>