<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="win81" />
  <package id="Prism.StoreApps" version="1.1.0" targetFramework="win81" />
  <package id="SharpDX" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="win81" />
  <package id="Syncfusion.Data.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.GridCommon.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfGrid.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfGridBase.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfInput.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfRadialMenu.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfSchedule.WinRT451" version="13.1.0.21" targetFramework="win81" />
  <package id="Syncfusion.SfShared.WinRT451" version="13.1.0.21" targetFramework="win81" />
</packages>