<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="wpa81" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="wpa81" />
  <package id="Prism.StoreApps" version="2.0.0" targetFramework="wpa81" />
  <package id="SQLite.Net.Async-PCL" version="2.5.1" targetFramework="wpa81" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="wpa81" />
  <package id="SQLite.WinRT" version="3.8.8.3" targetFramework="wpa81" />
  <package id="Unity" version="3.5.1405-prerelease" targetFramework="wpa81" />
</packages>