<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="reqReplyEndpoint1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_MzkVehicleInspectionService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="reqReplyEndpoint2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_MzkTechnicalInspection">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="reqReplyEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_MzkServiceSchedulingService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="reqReplyEndpoint1"
                contract="TIProxy.IRequestReplyRouter" name="reqReplyEndpoint1" />
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MzkVehicleInspectionService"
                contract="TIProxy.MzkVehicleInspectionService" name="BasicHttpBinding_MzkVehicleInspectionService" />
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="reqReplyEndpoint2"
                contract="TIProxy.IRequestReplyRouter" name="reqReplyEndpoint2" />
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/TechnicalInspection/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MzkTechnicalInspection"
                contract="TIProxy.MzkTechnicalInspection" name="BasicHttpBinding_MzkTechnicalInspection" />
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="reqReplyEndpoint"
                contract="SSProxy.IRequestReplyRouter" name="reqReplyEndpoint" />
            <endpoint address="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/SSService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MzkServiceSchedulingService"
                contract="SSProxy.MzkServiceSchedulingService" name="BasicHttpBinding_MzkServiceSchedulingService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
